@charset "UTF-8";

label {
	display:block;
	width:100px;
	float: left;
	
	padding:8px;
	text-align: right;
	
	font-weight: bold;
	color: #009688;
	font-size: 11pt;
}

/* input tag와 textarea tag에 공통된 스타일을 지정하라*/
input. textarea{
	margin:3px;
	padding:8px;
	border:1px solid #ccc;
	
	display:inline-block;
	width:85%;
}

button{
	margin-bottom: 10px;
	width:120px;
	background-color: blue;
	color: white;
	font-weight: bold;
	padding: 0.5em;
	border: none;
}

button:hover{
	background-color: green;
	color: yellow;
	
}