@charset "UTF-8";

* {
	box-sizing: border - box;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border:box;
}
	body{
	max-width: 90%;
	margin:10px auto;
	border:1px solid #ccc;
	}
	
	header {
	padding:1em; /* font-size와 같은 비율로 padding 설정*/
	background: Linear-gradient(to bottom,#b4b8f6,#0000FF);
	text-align: center;
	margin-bottom: 0px;
	font-size: 15px;
	color: white;
	font-weight: bold;
	}
	footer{
		background-color: blue;
		text-align: center;
		padding : 0.5em;
		color:white;
		font-size: 10px;
	}
	nav{
		width:100%; /* body 사이즈 내에서 100%*/
		background-color: green;
		display: inline-block;
	}
	/* nav tag 내에 포함되어 있는 a tag의 style*/
	nav a {
	display: block; 
	/* a tag는 inline tag인데 block tag로 변환.
	*/
		/* width는 display가 block, inline-block일 경우만 작동.*/
		width:auto; /* 글자 수에따라 크기를 조절*/
		
		/* a tag들을 한줄에 표시하라*/
		float : left;
		
		/* box의 테두리를 없애기 위해서*/
		border:none;
		outline:none;
		
		/* box와 글자와의 간격을 띄우기*/	
		padding : 8px 16px; /* top과 bottom: 8px, left와 right*/
		
		/*a tag의 글자에 밑이 보이지 않도록 설정*/
		text-decoration: none;
		
		color:white;
		
	}
	/* nav 각 항목(a tag)에 마우스가 올라 갔을때 효과 부여*/	
	nav a:hover{
		background-color: lightgray;
		color: black;	
	}
	section{
		margin : 200px;
	}